includes:
parameters:

  paths:
    - src

  # The level 9 is the highest level
  level: 9

  ignoreErrors:
    - '#Unsafe usage of new static#'

  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: false
